/* Mobile first 480px */
$primary-color: #011827;
$secondary-color: #8ACFE5;
$highlight-color: #E3170A;
$white: #FFFFFF;
$font-family: 'Roboto', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Global styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.5;
}

// Main header
.main-header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: $primary-color;
    color: $white;

    .logo img {
        min-width: 128px;
        min-height: 82px;
        margin: 26px 0 36px 27px;
        border-radius: 17px 0 0 0;
    }

    .headline {
        color: $white;
        font-size: 24px;
        font-weight: $font-weight-bold;
        display: grid;
        width: 78px;
        height: 84px;
        margin: 25px 13px 35px;
        line-height: 28.13px;
    }
}

// Mobile Menu 
.menubutton {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;

}

.headermenu {

    .menubutton {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    p {
        display: none;
    }
}

.headermenu.show p {
    display: block;
}

#overlay.hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    visibility: hidden;

    .menubutton {
        display: none;
    }

    #closeButton {
        background-color: $primary-color;
        color: $primary-color;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .modal.show #closebutton {
        opacity: 1;
    }

    p {
        color: #FFFFFF;
        font-size: 36px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        margin-top: 100px;
        margin-bottom: 10px;
        line-height: 42px;
    }
}

.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

.modal {
    width: 90vw;
    max-width: 410px;
    height: 730px;
    background: $primary-color;
    padding: 20px;
    // border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;


}

.modal.show {
    opacity: 1;
}

// Images
.image2 {
    height: auto;
    width: 100%;
}

.image2desktop {
    display: none;
}

// Buttons
.container1,
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: $font-weight-bold;
    font-size: 24px;
}

.onlinered {
    display: none;
}

.onlinered2 {
    display: none;
}

// Mixin for button classes .component..
@mixin button-styles($width, $height) {
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: $font-weight-bold;
    border: none;
    box-shadow: none;
}

.component1,
.component2,
.component4,
.component5,
.component6 {
    @include button-styles(308px, 66px); // Reuse of mixin for common styles 
}

// Exclusive styles for 
.component1,
.component2 {
    background-color: $secondary-color;
    border-radius: 3px;
}

// Exclusive styles for 
.component4 {
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 3px;
    align-items: center;
    margin-top: 15px;
}

// Exclusive styles for 
.component5,
.component6 {
    background-color: $highlight-color;
    color: $white;
    border-radius: 3px;
    margin-bottom: 80px;
    margin-right: 130px;
}

.onlinechallenges {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 18.75px;
}

a:visited {
    color: #36769D;
}

// Imgcontainer
.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    //To hide the second part of class imgcontainer in mobile
    .image3:nth-of-type(2),
    .textimage3:nth-of-type(2) {
        display: none;
    }
}

// .image3,
.secondimage,
.textimage3 {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 15px;
    height: auto;
    font-size: 24px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: 28.13px;

    p {
        margin-bottom: 5px;

    }

    .image3 {
        margin-right: 20px;

    }

    .johndoe {
        font-weight: $font-weight-regular;
        font-size: 18px;
        margin-top: 5px;
    }
}

.secondimage {
    display: none;
}

.h2 {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    margin-left: 35px;
    font-size: 32px;
}

.container2 {
    display: flex;
    margin-left: 50px;
    gap: 20px;
    background-color: $white;
    overflow: hidden;
}

.starsgroup {
    display: flex;
    align-items: center;
    margin-top: -22px;
    margin-left: 22px;

    .star,
    .star5 {
        margin-left: 2px;
        width: 23.08;
        height: auto;
        margin: 3px;
    }

}

.group4,
.group5,
.group6 {
    width: 100%;
    height: 466px;
    margin-right: 3px;
    background-color: $white;
    border: 3px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-sizing: border-box;

    .group5 {
        width: 80%;
    }

    .group6 {
        width: 100%;
    }

    h3 {
        font-size: 28px;
        font-weight: $font-weight-regular;
        line-height: 32.81px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    p {
        font-weight: $font-weight-regular;
        font-size: 18px;
        margin-left: 20px;
        line-height: 21.09px;
        margin-right: 15px;
        margin-top: 10px;
    }

    .participants {
        font-size: 14px;
    }

    .rectangle7-button {
        background-color: $highlight-color;
        width: 179.26px;
        height: 44px;
        border-radius: 4px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        color: $white;
        margin-left: 170px;
        border: none;
    }
}

// Text section
.text-section {
    height: 500px;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .middlequote {
        font-size: 28px;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-regular;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.h3build {
    margin-left: 20px;
    line-height: 37.5px;
    font-size: 32px;

}

.nesapicdesktop {
    display: none;
}

.kellypicdesktop {
    display: none;
}

.pbuild,
.pvenue {
    font-weight: $font-weight-regular;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    font-family: $font-family;
    line-height: 28.13px;
}

.venue {
    margin-left: 20px;
    line-height: 37.5px;
    margin-right: 20px;
    font-size: 32px;
}

// Footer
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 566px;
    background: $primary-color;
    color: $white;
    font-family: $font-family;

    .esch3 {
        margin-top: 30px;
        margin-left: 21px;

    }

    h3 {
        margin-left: 21px;
        margin-bottom: 20px;
    }

    p {
        margin-left: 21px;
        font-weight: $font-weight-regular;
        font-size: 18px;
        margin-right: 20px;
        display: block;
        margin-top: 2px;
        margin-bottom: 2px;
        line-height: 21.09px;

    }

    .ecstext {
        margin-top: -15px;
    }

    .site h3 {
        margin-bottom: 5px;
    }

    .follow {
        height: 220px;
    }

    .follow h3 {
        margin-bottom: 5px;
    }
}


//Media Queries
@media (min-width: 768px) {
    .headline {
        font-size: 36px;
        white-space: nowrap;
        text-align: left;
    }


}

// Desktop    
@media (min-width: 1280px) {

    .h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        margin: 40px 0 50px 30px;
    }

    .headermenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 130px;
        gap: 50px;
        font-weight: $font-weight-bold;
        font-family: $font-family;
        font-size: 24px;

        p {
            margin-top: 40px;
            padding: 0 15px;
            display: block;
        }

        p:hover {
            color: #8ACFE5;
        }

        .menubutton {
            //To hide Menubutton in desktop
            display: none;
        }
    }

    .group4,
    .group5,
    .group6 {
        width: 366px;
    }

    // To make 2-6 participants shift place to right 
    .starsgroup {
        p {
            margin-left: 120px;
        }
    }

    .text-section {
        display: flex;
        justify-content: center;
    }

    .middlequote {
        text-align: center;
        max-width: 600px;
    }

    .onlinechallenges {
        display: none;
    }

    .headline {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    // First buttons inside image2Desktop 
    .container1 {
        position: relative;
        margin-bottom: 20px;
    }

    .component1 {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(10%, 0%);
    }

    .onlinered {
        position: relative;
        display: block;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        background: $highlight-color;
        font-size: 24px;
        color: $white;
        width: 308px;
        height: 66px;
        margin-right: 10px;
        border-radius: 4px;
        border: none;
        position: absolute;
        bottom: 50%;
        left: 51.5%;
        transform: translate(-100%, 0%);
    }

    // Second buttons 
    .container3 {
        display: flex;
        margin-top: 40px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .onlinered2 {
        display: block;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        background: $highlight-color;
        font-size: 24px;
        color: $white;
        width: 308px;
        height: 66px;
        margin-right: 10px;
        border-radius: 4px;
        border: none;
    }

    .main-header {
        height: 216px;

        .headline {
            font-size: 40px;
            align-items: center;
        }
    }

    .image2desktop {
        display: flex;
        height: auto;
        width: 100%;

    }

    // To only show desktop version
    .image2 {
        display: none;
    }

    .imgcontainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: 100px;

        // To show the second part of class imgcontainer in desktop 
        .image3:nth-of-type(2),
        .textimage3:nth-of-type(2) {
            display: block;
        }

        .textimage3 {
            margin-right: 110px;
        }

        .image3:nth-of-type(2) {
            margin-left: -50px;
        }
    }

    //  Grid layout for containergrid
    .containergrid {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .nesapicdesktop {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1;
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }

    .nesapic {
        display: none;
    }

    .rightside {
        grid-column: 2 / 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center; //flex-start
        // gap: 10px; 

        .container1 {
            margin-top: 10px;
        }
    }

    .h3build {
        margin-top: 60px;
        margin-right: 90px;
        width: 400px;
    }

    .pbuild {
        margin-right: 60px;
        margin-bottom: 5px;
        width: 416px;
    }

    .component5 {
        margin-bottom: 10px;
    }

    .venue {
        margin-top: 60px;
        margin-right: 20px;
        margin-left: 60px;
        width: 400px;
    }

    .pvenue {
        margin-right: 60px;
        margin-left: 60px;
        width: 416px;
    }

    .component6 {
        margin-right: 220px;
        margin-bottom: 140px;
    }

    .kellypicdesktop {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 2;
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }

    .kellypic {
        display: none;
    }

    .nesapicdesktop img,
    .kellypicdesktop img {
        width: 100%;
        height: auto;
    }

    .footer {
        height: 467px;
        flex-direction: row;
        align-items: center;
        gap: 100px;

        .escaperooms {
            width: 500px;
            margin-right: 80px;

            .ecstext {
                width: 420px;
            }

            .footer h3 {
                margin-bottom: 10px;
            }
        }
    }
}