/* Mobile first 480px */

$primary-color: #011827;
$secondary-color: #8ACFE5;
$highlight-color: #E3170A;
$white: #FFFFFF;
$font-family: 'Roboto', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Global styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.5;
}



// Main header
.main-header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    // padding: 10px;
    background-color: $primary-color;
    color: $white;

    .logo img {
        min-width: 128px;
        min-height: 82px;
        margin: 26px 0 36px 27px;
        border-radius: 17px 0 0 0;
    }

    h2 {
        color: $white;
        font-size: 24px;
        font-weight: $font-weight-bold;
        display: grid;
        width: 78px;
        height: 84px;
        margin: 25px 13px 35px;
        line-height: 28.13px;
    }

    
}

.headermenu {
        display: none; 
     }


// Images
.image2 {
    height: auto;
    width: 100%;

}

.image2desktop { 
    display: none; 
}



// Buttons
.container1, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: $font-weight-bold;
    font-size: 24px;  

}

 .onlinered { 
        display: none;    

    }
.onlinered2 { 
    display: none; 
}
// Mixin for button classes .component..

    @mixin button-styles($width, $height) {
        width: $width;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: $font-weight-bold;
        border: none;
        box-shadow: none;
    }

    .component1,
    .component2,
    .component4,
    .component5,
    .component6 {
        @include button-styles(308px, 66px); // Reuse of mixin for common styles 
    }
    
    // Exclusive styles for 
    .component1,
    .component2 {
        background-color: $secondary-color;
        border-radius: 3px;
    }
    
    // Exclusive styles for 
    .component4 {
        background-color: $primary-color;
        color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 3px;
        align-items: center; 
        // margin-left: 80px; 
        margin-top: 15px;
    }
    
    // Exclusive styles for 
    .component5,
    .component6 {
        background-color: $highlight-color;
        color: $white;
        border-radius: 3px;
        margin-bottom: 80px;
        margin-right: 130px;
    }


// .component1,
//  .component2,    
// .component4,
// .component5,
// .component6 {
//     width: 308px;
//     height: 66px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 24px;
//     font-weight: $font-weight-bold;
//     border: none;
//     box-shadow: none;
//  }  // 

// .component1,
// .component2 {
//     background-color: $secondary-color;
//     border-radius: 3px;
// }

// .component4 {
//     background-color: $primary-color;
//     color: $secondary-color;
//     border: 2px solid $secondary-color;
//     width: 308px;
//     height: 66px;
//     justify-content: center;

    
// }

// .component5,
// .component6 {
//     background-color: $highlight-color;
//     color: $white;
//     border-radius: 3px;
// }

.onlinechallenges {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 18.75px;
}

// Imgcontainer
.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

}

// .image3,
.secondimage,
.textimage3 {
    max-width: 100%;
    // margin-right: 170px;   
    height: auto;
    font-size: 24px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: 28.13px;

    p {   
        margin-bottom: 5px;            //    klass?                                       

    }

    .image3 { 
        margin-right: 10px;

    }

    .johndoe { 
        font-weight: $font-weight-regular;
        font-size: 18px;
        margin-top: 5px;
    }
}

.secondimage {
    display: none;
}

 .h1 {    // Ingen class selektor endast test för att se font-family;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    margin-left: 20px;
}


.container2 {
    display: flex;
    margin-left: 50px;
    gap: 20px;
    background-color: $white;
    overflow: hidden; 
     //border-radius: 8px; 
     

     
   

    // Grid kan övervägas för större skärmar med media queries
    // flex-wrap: nowrap;
    // overflow-x: auto;
    // width: 363px;
    // height: 446px;
}
.starsgroup { 
    // display: flex;               // Måste få till så att stjärnorna blir på samma rad som p 2-6participants
     margin-top: -20px; 
    margin-left: 25px;
    // height: 26px;
     
    .star, .star5 { 
        margin-left: 2px;
        width: 23.08;
        height: auto;
    }

     }
.group4,
.group5,
.group6 {
    width: 100%;
    margin-right: 3px;
    background-color: $white;
    // flex-shrink: 0;
    // box-shadow: ;  
     border: 2px solid rgba(0, 0, 0, 0.089) ;
    

    .group5 { 
        // flex-shrink: 1;
        width: 80%; 
    }
    
    .group6 { 
        // flex-shrink: 0;
        width: 100%; 
    }
    h3 {
        font-size: 28px;
        font-weight: $font-weight-regular;
        line-height: 32.81px;
        margin-top: 10px;
        margin-left: 20px;
    }

    p {
        font-size: 18px;
        margin-left: 20px;
        line-height: 21.09px;
        margin-right: 10px;
    }

    .rectangle7-button {
       
        background-color: $highlight-color;
        width: 179.26px;
        height: 44px;
        border-radius: 4px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        color: $white;
        margin-left: 180px;
        

    }

    /* Behåll för flexibilitet i layout */
    /* flex: 0 0 100%; */
    /* padding-right: 30px; */
    /* margin-left: 20px; */
    // height: 200px;
}

// Text section
.text-section {
    height: 500px;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    

    .middlequote { 
        font-size: 28px;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-regular;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    
}

.h1build { 
    margin-left: 20px;
    line-height: 37.5px;
    

   
}
 .pbuild, .pvenue { 
        font-weight: $font-weight-regular;
        margin-left: 20px;
        margin-right: 20px; 
        font-size: 24px;
        font-family: $font-family;
        line-height: 28.13px;
    }


    .venue { 
        margin-left: 20px;
        line-height: 37.5px;
        margin-right: 20px;
    }
    


// Footer
.footer {
    background: $primary-color;
    color: $white;
    font-family: $font-family;

    // h3 { 
       

    // }
}

// Media Queries
@media (min-width: 768px) {
    h2 {
        font-size: 36px;
        white-space: nowrap;
        text-align: left;
    }
    // .container2 { 
    //     width: 480px;
    //     overflow: visible; 
    // }

}



@media (min-width: 1024px) {
    h2 {
        font-size: 36px;
        white-space: nowrap;
        text-align: left;
    }



}
// Desktop 

@media (min-width: 1280px) {

    .logo img { 
         margin: 40px 0 50px 30px;  //Något påverkar att detta inte fungerar. 
    }

    .headermenu {  
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 130px;
         gap: 50px;
         font-weight: $font-weight-bold;
         font-family: $font-family;
         font-size: 24px;
       

         
         

        p  { 
            margin-top: 40px;
            // margin: 0; 
            padding: 0 15px; 
         
       
        }

 .blue { 
            color:#8ACFE5;
        }

    }

.onlinechallenges { 
    display: none;
}

    .h1 { 
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;

    }

    //  Buttons lie inside picture.   // OBS! De två nedre likadana knapparna i mitten blir fel
    
    // First buttons inside image2Desktop 
    .container1 { 
        position: relative;
        margin-bottom: 20px; 

    }

    

     .component1  { 
            position: absolute; 
            bottom: 50%;
            left: 50%; 
            transform: translate(10%, 0%);
        }

    .onlinered { 
        position: relative;
        display: block; 
        font-family: $font-family;
        font-weight: $font-weight-bold;
        background: $highlight-color;
        font-size: 24px;
        color: $white; 
        width: 308px; 
        height: 66px; 
        margin-right: 10px; 
        border-radius: 4px;
        border: none;
        position: absolute; 
        bottom: 50%; 
        left: 50%; 
        transform: translate(-100%, 0%);
       
        
    }


// Second buttons 
.container3 { 
   display: flex;
   margin-top: 40px;
    margin-bottom: 20px; 
    align-items: center;
    justify-content: center;

    }
   

.onlinered2 { 
        // position: relative;
        display: block; 
        font-family: $font-family;
        font-weight: $font-weight-bold;
        background: $highlight-color;
        font-size: 24px;
        color: $white; 
        width: 308px; 
        height: 66px; 
        margin-right: 10px; 
        border-radius: 4px;
        border: none;
        // position: absolute; 
        // bottom: 50%; 
        // left: 50%; 
        // transform: translate(-100%, 0%);
        }
        
        // .container1:last-child { 
    //     top: 200px;
    //     margin-top: -20px;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }

    .main-header { 
        height: 216px; 

        h2 { 
            font-size: 40px;
            align-items: center;
        }
    }

    .image2desktop { 
       display: flex;
       height: auto;
       width: 100%;
       



       
    }
    // To only show desktop version
    .image2 { 
        display: none;
       }


    .imgcontainer {
        flex-direction: row;
    }

 .textimage3 {
    margin-right: 170px;  


    }
    

    .group3,
    .secondimage {
        height: 141px;
        width: 522px;
    }

    .secondimage {
        display: block;
    }


  //  Grid layout for containergrid
  .containergrid { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    // gap: 20px;
}

    .nesapic { 
        grid-column: 1 / 2;
        grid-row: 1;
        }

    .rightside { 
        grid-column: 2 / 3; 
        grid-row: 1; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        // gap: 10px; 
    }
   

     .kellypic { 
        grid-column: 2 / 3; /* Startar i andra kolumnen */
        grid-row: 2;
     }

     .nesapic img, .kellypic img {
        width: 100%;
        height: auto;
     }




}

@media (min-width: 1600px ) { 

.headermenu { 
      width: 100%;  
     height: auto; 
     margin-left: -30px;
    }
}