@charset "UTF-8";
/* Mobile first 480px */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}

.main-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #011827;
  color: #FFFFFF;
}
.main-header .logo img {
  min-width: 128px;
  min-height: 82px;
  margin: 26px 0 36px 27px;
  border-radius: 17px 0 0 0;
}
.main-header h2 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  display: grid;
  width: 78px;
  height: 84px;
  margin: 25px 13px 35px;
  line-height: 28.13px;
}

.headermenu {
  display: none;
}

.image2 {
  height: 100%;
  width: 100%;
}

.image2desktop {
  display: none;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
}

.onlinered {
  display: none;
}

.component1,
.component2,
.component4,
.component5,
.component6 {
  width: 308px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  border: none;
  box-shadow: none;
}

.component1,
.component2 {
  background-color: #8ACFE5;
  border-radius: 3px;
}

.component4 {
  background-color: #011827;
  color: #8ACFE5;
  border: 2px solid #8ACFE5;
  width: 308px;
  height: 66px;
  justify-content: center;
}

.component5,
.component6 {
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 3px;
}

.onlinechallenges {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.secondimage,
.textimage3 {
  max-width: 100%;
  height: auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}
.secondimage .image3,
.textimage3 .image3 {
  margin-right: 10px;
}
.secondimage .johndoe,
.textimage3 .johndoe {
  font-weight: 400;
  font-size: 18px;
}

.secondimage {
  display: none;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 20px;
}

.container2 {
  display: flex;
  margin-left: 20px;
  gap: 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.container2 .star {
  color: #E3170A;
  border-radius: 8px;
  width: 23.8px;
}

.group4,
.group5,
.group6 {
  width: 100%;
  margin-right: 3px;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.089);
  /* Behåll för flexibilitet i layout */
  /* flex: 0 0 100%; */
  /* padding-right: 30px; */
  /* margin-left: 20px; */
}
.group4 .group5,
.group5 .group5,
.group6 .group5 {
  width: 80%;
}
.group4 .group6,
.group5 .group6,
.group6 .group6 {
  width: 100%;
}
.group4 h3,
.group5 h3,
.group6 h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
}
.group4 p,
.group5 p,
.group6 p {
  font-size: 14px;
}
.group4 .rectangle7-button,
.group5 .rectangle7-button,
.group6 .rectangle7-button {
  background-color: #E3170A;
  width: 179.26px;
  height: 44px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 180px;
}

.text-section {
  width: 100%;
  background-color: #011827;
  color: #FFFFFF;
}
.text-section p {
  font-size: 28px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.h1build {
  margin-left: 20px;
}

.footer {
  background: #011827;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    white-space: nowrap;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 36px;
    white-space: nowrap;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .logo img {
    margin: 40px 0 50px 30px;
  }
  .headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    gap: 50px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
  }
  .headermenu p {
    margin-top: 40px;
    padding: 0 15px;
  }
  .headermenu .blue {
    color: #8ACFE5;
  }
  .onlinechallenges {
    display: none;
  }
  .container1 {
    position: relative;
  }
  .component1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(10%, 0%);
  }
  .onlinered {
    position: relative;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background: #E3170A;
    font-size: 24px;
    color: #FFFFFF;
    width: 308px;
    height: 66px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-100%, 0%);
  }
  .main-header {
    height: 216px;
  }
  .main-header h2 {
    font-size: 40px;
    align-items: center;
  }
  .image2desktop {
    display: flex;
  }
  .image2 {
    display: none;
  }
  .imgcontainer {
    flex-direction: row;
  }
  .textimage3 {
    margin-right: 170px;
  }
  .group3,
  .secondimage {
    height: 141px;
    width: 522px;
  }
  .secondimage {
    display: block;
  }
  .containergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nesapic {
    grid-column: 1/2;
    grid-row: 1;
  }
  .rightside {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .kellypic {
    grid-column: 2/3; /* Startar i andra kolumnen */
    grid-row: 2;
  }
  .nesapic img, .kellypic img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
